*.zip
.DS_STORE
.*
*.pyc
!.gitignore


data/*
!data/.gitkeep
!data/GTSRB/.gitkeep
*.meta
*.index
*checkpoint
*.data-00000-of-00001

CarND-Behavioral-Cloning-P3-master/run*/*
*.h5
!CarND-Behavioral-Cloning-P3-master/model.h5